/* Navbar container */
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #7a1a6a;
	padding: 10px;
	width: 100%; /* Take up the full width of the parent container */
	max-width: 100%; /* Limit the width to the maximum available */
	box-sizing: border-box; /* Include padding in the total width */
  }
  
  /* Logo */
  .logo {
	font-size: 28px;
	font-weight: bold;
	margin: 0 auto; /* Center the logo horizontally */
  }
  
  /* Navigation menu */
  ul {
	list-style-type: none;
	display: flex;
  }
  
  ul li {
	margin-right: 10px;
  }
  
  ul li a {
	text-decoration: none;
	color: #fffcfc;
	padding: 5px;
  }
  