.rechargephoto {
  display: flex;
  flex-direction: column; /* Display form elements in a column */
  justify-content: center;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1582407947304-fd86f028f716?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cmVhbCUyMGVzdGF0ZXxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80");
  background-size: cover;
  background-position: center;
  height: 300px;
  padding: 20px; /* Add padding for better spacing */
}
.rechargephoto h2
{
color: black;
}

.rechargephoto form {
  display: flex;
  flex-direction: column; /* Display input fields and button in a column */
  align-items: center;
  background-color: #716767;
  padding: 20px;
}

.rechargephoto .box {
  margin-bottom: 10px; /* Add margin-bottom for spacing between input fields */
  width: 100%; /* Set input fields to occupy 100% width */
  max-width: 300px; /* Limit the maximum width of input fields */
}

.rechargephoto input[type="text"],
.rechargephoto button {
  background-color: #ffffff;
  border: none;
  padding: 8px;
  color: black;
  width: 100%; /* Set input fields and buttons to occupy 100% width */
  box-sizing: border-box; /* Include padding and border in the width calculation */
}

.rechargephoto h2 {
  color: black;
}
.rechargephoto button {
  cursor: pointer;
  background-color: #96c2db;
  color: white;
}

.rechargephoto button:hover {
  background-color: #e5edf1;
}
